.socialBar {
    width: 100%;
    ul {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 25px);
        gap: 2.2em;
        img {
            width: 30px;
            &:hover {
                opacity: 0.5;
            }
        }
    }
}