.pillars__item {
    display: flex;
    padding: 2em 0;
    text-align: center;
    flex-direction: column;
    align-items: center;
    img {
        width: 300px;
    }
}

// Desktop version
.pillars__item {
    @include respond-min-width("desktop") {
        // Alternating images left and right using flex orders
        flex-direction: row;
        text-align: left;
        p {
            order: 0;
        }
        img {
            &.right {
                order: 1;
                margin-left: 3em;
            }
            &.left {
                order: -1;
                margin-right: 3em;
            }
        }
    }
}